%h2= @article.title
%p= @article.content

.btn-group
	= link_to "Home", root_path
	- if user_signed_in?
		= link_to "Edit", edit_article_path
		= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}